@media only screen and (max-width: 1200px) {
    .logo,.section-nav {
            padding: 10px;
        }    
    iframe{
        border-radius: 0;
    }    
}
@media only screen and (max-width: 998px) {
    .navbar-m {
            display: flex;
        }

    .logo{
        padding: 15px;
        background: #2a313e;
    }
.navbar{
    position: fixed;
    top: 0;
    left: -500px;
    width: 350px;
    height: 100vh;
    background: #364050;
}
.navbar-co{
    display: block;
    flex-direction: column;
}
.navbar-co a{
    display: block;
    z-index: 0;
    padding: 20px;
}
.navbar-co a::before{
    z-index: -1;
    background: #00000080;
    border-radius: 0;
}
.navbar-co a:hover::before {
    background: #00000080;
    height: 100%;
}
.header{
    text-align: center;
    padding:0px 5px;
    margin: 20px 0;
}
.header h1{
    font-size: 22px;
    padding: 0;
    margin: 0;
}


  .swiper {
      border-radius: 0px;

  }

.product-content {
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 35%;

}
.section-nav{
    flex-direction: column;
}
.product-content{
    width: 100%;
}
.header-p{
    border-radius: 5px;
    background: #3a4250;
}
.header-p,.header-p-alt,.p{
    text-align: center;
}
.product-flex{
    margin: auto;
    width: 300px;
}
}

@media only screen and (max-width: 768px) {
    .product-content {
        margin: auto;
        flex-direction: column;
        justify-content: center;
        }
    .box {
        width: 70%;
        margin:10px auto;
    }
}

@media only screen and (max-width: 568px) {
    .product-content {
        margin: auto;
        flex-direction: column;
        justify-content: center;
    }

    .box {
        width: 80%;
    }
}

@media only screen and (max-width: 408px) {
    .product-content {
        margin: auto;
        flex-direction: column;
        justify-content: center;
    }

    .box {
        width: 100%;
        border-radius: 0;
    }
}