*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}

.head-navbar{
    background: #2b3441;
    padding: 10px;
    text-align: center;
}
.phone-sc i{
    margin-right: 10px;
    font-size: 22px;
    color: #fff;
}

.video{
    padding: 25px;
}
.swiper{
    position: relative;
    background: #fff;
    border-radius:10px;
    box-shadow: 0 0 15px #00000020;
}
.swiper-slide img{
    width: 100%;
    background: #fff;
}
.phone-sc a{
    font-size: 16px;
    color: #fff;
    margin: 10px;
    text-decoration: none;
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.427);
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.swiper-button-next,.swiper-button-prev{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 22px !important;
    color: #fff !important;
    background: #00000050 !important;
    width: 50px !important;
    border-radius: 50% !important;
    height: 50px !important;
    cursor: pointer !important;
    --swiper-navigation-size: 0px;
    /* To edit the size of the arrows */
    --swiper-navigation-color: #000;
    /* To edit the color of the arrows */   
    transition: .3s ease !important;
}
.button-next:hover,.button-prev:hover{
    transform: scale(1.05);
}

.phone-sc a:hover{
    text-decoration: underline;
}
.logos a{
    color: #fff;
    text-decoration: none;
}
.navbar-m{
    position: sticky;
    top: 0;
    z-index: 88;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: #fff;
    background: #364050;
    box-shadow: 0 0 15px #00000050;
}
.menubtn i{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #262d39;
}
.navbar{
    position: sticky;
    top: 0;
    background: #364050;
    z-index: 1000;
    transition: .3s ease-in-out;
}
.navbar-co{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    color: #fff;
}
.logo{
    font-size: 22px;   
}
.logos {
    font-size: 18px;
}
.navbar-co a{
    position: relative;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
}
.navbar-co a::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 4px;
    border-radius: 50px;
    width: 0;
    opacity: 0;
    background: #74BF1A;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
    
}
.navbar-co a:hover::before{
    width: 100%;
    opacity: 1;
}

.video-container{
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #eef2f9, #ffffff), repeating-radial-gradient(circle at center center, #eef2f9, #eef2f9, 31px, transparent 62px, transparent 31px);
    background-blend-mode: multiply;
}


.product-container {
    background: #fff;
}
.product-content {
    width: 100%;
    height: 500px;
}
.header{
    padding:10px 15px;
    margin: 30px 0;
    font-size: 18px;
    border-radius: 5px;
    color: #2b2b2b;
}
.header i{
    margin-left:20px;
}
.product-content{
    display: flex;  
    height: auto;  
}
.box{
    position: relative;
    border: 1px solid #ccc;
    margin: 15px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}
.box:hover .show{
    opacity: 1;
}
.show{
    position: absolute;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000050;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.btn{
    padding: 10px 25px;
    background: #168a04;
    color: #fff;
    border-radius: 50px;
}
.box img{
    width: 100%;
}

.product img{
    width: 100%;
}

.contact-container{
    height: 700px;
    background: #ccc;
}




